<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.input :col_size %>
  </div>
  <div class="col-sm-12 form-group">
    <%= f.association :media_items, as: :gallery, sortable: true %>
  </div>
</div>
