@font-face {
  font-family: 'FeijoaBold';
  src: font-url('FeijoaBold.woff2') format('woff2'),
       font-url('FeijoaBold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'FeijoaDisplay';
  src: font-url('FeijoaDisplay.woff2') format('woff2'),
       font-url('FeijoaDisplay.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'FeijoaMedium';
  src: font-url('FeijoaMedium.woff2') format('woff2'),
       font-url('FeijoaMedium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'FeijoaMedium';
  src: font-url('FeijoaMediumItalic.woff2') format('woff2'),
       font-url('FeijoaMediumItalic.woff') format('woff');
  font-style: italic;
}
