<footer id="footer" class="footer mt-3">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <nav id="nav" class="nav">
            <ul>
              <li><%= link_to 'Home', root_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
