<header id="header" class="header mt-2 mb-5 jumbo-title">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <nav id="nav" class="nav">
            <ul class="blank-list">
              <li><%= link_to 'Memories', root_path, class: 'hover-link' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
