// Font stacks
$font-medium: 'FeijoaMedium', serif;
$font-display: 'FeijoaDisplay', serif;
$font-bold: 'FeijoaBold', serif;

@mixin body-text {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.4;
  font-family: $font-medium;

  @include breakpoint(md) {
    font-size: 20px;
  }
}
.body-text { @include body-text; }

@mixin default-font {
  @include body-text;
}

@mixin large-title {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 1.4;
  font-family: $font-display;

  @include breakpoint(md) {
    font-size: 54px;
  }
}
.large-title { @include large-title; }
