<div class="row">
  <div class="col-sm-6 form-group">
    <%= f.input :duration %>
  </div>
  <div class="col-sm-6 form-group">
    <%= f.input :col_size %>
    <%= f.input :col_offset %>
  </div>
  <div class="col-sm-12 form-group">
    <%= f.association :media_items, as: :gallery, sortable: true %>
  </div>
</div>
