<div class="site-container">
  <div class="container-fluid">
    <%= content_tag :div, class: "image-sequence-block__images row", data: { duration: block.duration } do %>
      <%= content_tag :div, class: "col-md-#{block.col_size} offset-#{block.col_offset}" do %>
        <% block.media_items.each_with_index do |media_item, index| %>
          <%= link_to media_item.attachment.url, class: "image-sequence-block__image blank-link #{'active' if index.zero?}" do %>
            <%= image_tag media_item.attachment.url(:medium), size: block.image_size %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
