<p>Find me in app/views/forest/memories/show.html.erb</p>

<%# content_for :page_description, @memory.description if @memory.try(:description).present? %>

<p>
  <b>Title</b>
  <%= @memory.title %>
</p>
<p>
  <b>Date</b>
  <%= @memory.date %>
</p>
<p>
  <b>Description</b>
  <%= @memory.description %>
</p>

<%= render_blocks @memory %>
