<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <% cache ['memories_index', Memory.cache_key], expires_in: 4.weeks do %>
        <% @memories.each_with_index do |memory, index| %>
          <%= content_tag :div, class: "memory-index__memory col-12 #{'mt-3' unless index.zero?}", data: { image_urls: memory.media_items.to_a.collect { |m| m.attachment.url(:small) } } do %>
            <%= link_to md(memory.title), memory_path(memory.to_friendly_param), class: 'blank-link-hover' %>
            <%= content_tag :div, memory.date.strftime('%B %d, %Y'), class: 'small-text' %>
            <% if memory.media_items.present? %>
              <%= link_to '', memory_path(memory.to_friendly_param), class: 'memory-index__preview-area row no-gutters mt-2 blank-link' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
